@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
* {
  font-size: small;
}
body {
  background-color: #948a8d;
}
.app-container {
  display: flex;
  justify-content: space-around;
}

.form-container {
  padding: 15px;
  border: 1px solid #40383b;
  border-radius: 2px;
  width: 45%;
  background-color: #fff4f8;
}

.overview-container {
  width: 45%;
}

.overview {
  font-family: 'Montserrat';
  background-color: #fff4f8;
  padding: 15px;
  border: 1px solid black;
}

h2 {
  font-size: 24px;
  color: #ff6f96;
}

.text-input:focus,
.text-input:hover,
.text-input {
  background-color: #fff4f8;
  border: 2px solid #ff6f96;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;
  width: 95%;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-add {
  font-size: large;
  border: 1px solid #ff6f96;
  background-color: #ff6f96;
  color: #fff4f8;
  padding: 10px 0px 10px 0px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
}

.btn-del {
  font-size: large;
  border: 1px solid #ff6f96;
  background-color: #ff6f96;
  padding: 10px 0px 10px 0px;
  color: #fff4f8;
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
}

.btn-del:hover {
  box-shadow: 10px 10px 50px -10px grey;
}

.btn-add:hover {
  box-shadow: 10px 10px 50px -10px grey;
}

.name {
  font-size: 25px;
  color: black;
}

.header-container {
  display: flex;
  flex-grow: 1;
  border-bottom: 2px solid black;
}

.header-left {
  flex: 1;
}

.job-title {
  font-size: large;
}

.header-right {
  flex: 1;
}

.header-right p {
  text-align: right;
}

.education-container {
  display: flex;
  flex-wrap: nowrap;
}

.left-education {
  font-weight: bold;
}

.right-education {
  margin-left: auto;
  text-align: right;
}

h3 {
  font-size: 18px;
  margin-bottom: 0px;
}

.work-flex {
  display: flex;
  flex-wrap: nowrap;
}

.left-work {
  font-weight: bold;
}

.right-work {
  margin-left: auto;
  text-align: right;
}

.work-description p {
  margin: 0px;
}
